page-login {
    img {
        width: 50%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .forgotPasswordText {
        color: map-get($colors, textColor);
        font-size: 10px;
    }
    .footer {
        background-color: map-get($colors, globalColor)
    }
    .footerText {
        text-align: center;
        color: map-get($colors, footerText)
    }
    .row {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}
