page-register {
    .verifyText {
        color: map-get($colors, textColor);
        text-align: center;
    }
    .errorBox {
        background-color: transparent;
    }
    .requiredText {
        color: map-get($colors, textColor);
    }
}
