page-register {
    .verifyText {
        color: #9e9e9e;
        text-align: center;
    }
    .errorBox {
        background-color: transparent;
    }
    .requiredText {
        color: #9e9e9e;
    }
}
