page-chat {
    .senderReceiver {
        font-size: 17px;
        font-weight: bold;
        float: right;
    }
    .messageText {
        font-size: 15px;
        float: left;
    }
    .item {
        background-color: transparent !important;
    }
    .inputText {
        background-color: transparent !important;
    }
}
