page-profile {
    ion-avatar>img {
        margin: auto;
        width: 100px !important;
        height: 110px !important;
    }
    .userDetailtext {
        font-weight: bold;
        font-size: 15px;
    }
    .card {
      background: transparent !important;
    }
    .changeProfileText {
        font-size: 10px;
    }
    .row {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .item {
        background: transparent !important;
        text-align: center;
    }
}
