<ion-header>
  <custom-header pageName="Profil"></custom-header>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar>
        <img *ngIf="!showProfileImage" src="assets/imgs/placeholderperson.png">
        <img *ngIf="showProfileImage" src="{{userObject.photoURL}}" (click)="makeImageBigger()">
        <ion-row>
          <button class="changeProfileText" ion-button (click)="presentActionSheet()" clear>
            Bytt profilbilde
          </button>
          <ion-item>
            <p class="userDetailtext">{{userObject.displayName}}</p>
            <p class="userDetailtext">{{userObject.email}}</p>
          </ion-item>
        </ion-row>
      </ion-avatar>
    </ion-item>
  </ion-card>

  <ion-row>
    <button ion-button block color="globalColor" (click)="navigateToPage('MyBookAdsPage')">Mine annonser</button>
  </ion-row>
  <ion-row padding-top="20%">
    <button ion-button block color="globalColor" (click)="logOut()">LOGG UT</button>
  </ion-row>
</ion-content>
