page-profile {
    ion-avatar>img {
        margin: auto;
        width: 100px !important;
        height: 110px !important;
    }
    .userDetails {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }
    .card {
        background-color: map-get($colors, globalBackgroundColor)
    }
    .cameraIcon {
        position: absolute;
        top: 80%;
        left: 65%;
        font-size: 20px;
    }
}
