page-buy-book {
    .item {
        border-bottom: 2px solid red !important;
        border-top: 2px solid red !important;
        border-left: 2px solid red !important;
        border-right: 2px solid red !important;
        background-color: transparent !important;
    }
    img {
        width: 30%;
        height: 100%;
    }
}
