<ion-header>
  <custom-header pageName="Selg bok"></custom-header>
</ion-header>

<ion-content padding>
  <ion-row>
    <div class="img-wrap">
      <img *ngIf="previewImage.length > 0" [src]="'data:image/jpeg;base64,' + previewImage" />
      <img *ngIf="previewImage.length === 0" src="assets/imgs/placeholder.png">
    </div>
  </ion-row>
  <ion-row>
    <button class="icon" icon-only ion-button (click)="presentActionSheet()" clear>
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-label floating>Brukernavn</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item no-lines>
      <span class="global__input-error">
        * Velg brukernavn</span>
      <br>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" value=""></ion-input>
    </ion-item>

    <ion-item no-lines>
      <span class="global__input-error">
        * Email må fylles inn</span>
      <br>
      <span class="global__input-error">
        * Ugyldig email
      </span>
    </ion-item>

    <ion-item>
      <ion-label floating>Passord</ion-label>
      <ion-input type="password" value=""></ion-input>
    </ion-item>

    <ion-item no-lines>

      <span class="global__input-error">
        * Passord må fylles ut
      </span>

    </ion-item>


    <ion-list no-lines>

      <ion-item>
        <ion-label>Ny</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Brukt</ion-label>
        <ion-checkbox disabled="true"></ion-checkbox>
      </ion-item>

    </ion-list>
  </ion-row>

  <ion-row>
    <button ion-button color="globalColor" block (click)="addBookToCollection()">Legg bok til salgs</button>
  </ion-row>

</ion-content>
