page-sell-book {
    .img-wrap {
        width: 60%;
        margin: 0 auto;
        display: block;
        overflow: hidden;
        height: auto;
        max-height: 220px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .row {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}
