<ion-header>
  <custom-header pageName="Selg bok"></custom-header>
</ion-header>

<ion-content padding>
  <ion-row>
    <div class="img-wrap">
      <img *ngIf="previewImage.length > 0" [src]="'data:image/jpeg;base64,' + previewImage" />
      <img *ngIf="previewImage.length === 0" src="assets/imgs/placeholder.png">
    </div>
  </ion-row>
  <ion-row>
    <button ion-button block color="globalColor" (click)="presentActionSheet('Velg alternativ')">Ta bilde av boka</button>
  </ion-row>
  <ion-row>
    <button ion-button block color="globalColor" (click)="barCodeAction(book.isbn)">Bruk strekkode scanner</button>
  </ion-row>

  <form novalidate (ngSubmit)="addBookToCollection(book)" [formGroup]="bookForm">

    <ion-row>

      <ion-item>
        <ion-label floating>ISBN</ion-label>
        <ion-input type="text" value="" [(ngModel)]="book.isbn" formControlName="isbn"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="bookForm.get('isbn').hasError('required') && bookForm.get('isbn').touched">
        <span class="global__input-error">
          * ISBN må fylles ut</span>
        <br>
      </ion-item>

      <ion-item>
        <ion-label floating>Overskrift</ion-label>
        <ion-input type="text" value="" [(ngModel)]="book.heading" formControlName="heading"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="bookForm.get('heading').hasError('required') && bookForm.get('heading').touched">
        <span class="global__input-error">
          * Overskrift må fylles ut</span>
        <br>
      </ion-item>

      <ion-item>
        <ion-label floating>Beskrivelse</ion-label>
        <ion-input type="text" value="" [(ngModel)]="book.description" formControlName="description"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="bookForm.get('description').hasError('required') && bookForm.get('description').touched">
        <span class="global__input-error">
          * Beskrivelse må fylles ut
        </span>
      </ion-item>

      <ion-item>
        <ion-label floating>Pris i kr</ion-label>
        <ion-input type="tel" value="" [(ngModel)]="book.price" formControlName="price"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="bookForm.get('price').hasError('required') && bookForm.get('price').touched">
        <span class="global__input-error">
          * Pris i kr må fylles ut
        </span>
      </ion-item>

      <ion-row padding-top="10%">
        <ion-list no-lines>
          <ion-item>
            <ion-label>Ny</ion-label>
            <ion-checkbox color="globalColor" checked="{{bookIsNew}}" (click)="changeBookStatus()"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Brukt</ion-label>
            <ion-checkbox color="globalColor" checked="{{!bookIsNew}}" (click)="changeBookStatus()"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-row>

    <ion-row>
      <button ion-button block color="globalColor" [disabled]="bookForm.invalid">Legg ut for salg</button>
    </ion-row>

  </form>

</ion-content>
