page-sell-book {
    img {
        width: 50%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .cameraIcon {
        position: absolute;
        top: 30%;
        left: 47%;
        font-size: 30px;
    }
}
