<ion-header>
  <custom-header pageName="Opprett ny passord"></custom-header>
</ion-header>


<ion-content padding>
  <p>Har du glemt passordet?
    <br>Skriv inn emailen din så vil du få tilsendt en email for å bytte passord
    <br>
  </p>
  <form novalidate (ngSubmit)="resetPassword(email)" [formGroup]="resetForm">
    <ion-row>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( resetForm.get('email').hasError('email') || resetForm.get('email').hasError('email') ) && resetForm.get('email').touched">
        <span class="global__input-error" *ngIf="resetForm.get('email').hasError('required')">
          * Email må fylles inn</span>
        <br>
        <span class="global__input-error" *ngIf="resetForm.get('email').hasError('email')">
          * Ugyldig email
        </span>

      </ion-item>
    </ion-row>

    <ion-row padding-top="30%">
      <button ion-button block color="globalColor" [disabled]="resetForm.invalid">Tilbakestill passord</button>
    </ion-row>
  </form>
</ion-content>
