page-my-book-ads {
  .itemStyle {
    border-bottom: 2px solid red !important;
    border-top: 2px solid red !important;
    border-left: 2px solid red !important;
    border-right: 2px solid red !important;
  }

  .divClass {
    background-color: transparent !important;
  }
}
